<div id="side">
    <div id="tree-view" class="expanded"></div>
</div>
<div id="vSeparator"></div>
<div id="content">
    <div id="tabsContainer">
        <div id="tabContainer"></div>
        <div id="tabExpand"></div>
    </div>
    <div id="editorTopSeparator"></div>
    <div id="editorBottomSeparator"></div>
    <div id="editorContainer">
        <div id="editor"></div>
    </div>
    <div id="breadcum"></div>
</div>
