    <ul id="dirRightClick" class="rightClickElement">
        <li id="nFile">New File</li>
        <li id="rFolder">Rename...</li>
        <li id="nFolder">New Folder...</li>
        <li id="dFolder">Delete Folder</li>       
    </ul>
    <ul id="fileRightClick" class="rightClickElement">
        <li id="rFile">Rename File</li>
        <li id="dFile">Delete File</li>        
    </ul>
    <ul id="rootRightClick" class="rightClickElement">
        <li id="nRootFile">New File</li>
        <li id="nRootFolder">New Folder...</li>
    </ul>
    <div id="inputNameContainer">
        <label for="inputName" id="inputNameLabel"></label> 
        <input type="text" id="inputName">
    </div>
    <div id="RFI"></div>
</body>
</html>